[submodule "submodules/pynwb"]
	path = submodules/pynwb
	url = https://github.com/NeurodataWithoutBorders/pynwb
[submodule "submodules/neuroconv"]
	path = submodules/neuroconv
	url = https://github.com/catalystneuro/neuroconv
[submodule "submodules/nwbinspector"]
	path = submodules/nwbinspector
	url = https://github.com/NeurodataWithoutBorders/nwbinspector
[submodule "submodules/hdmf"]
	path = submodules/hdmf
	url = https://github.com/hdmf-dev/hdmf
